script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js")
script(type="text/javascript", src="javascripts/bootstrap-select.min.js")
script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
script(type="text/javascript", src="javascripts/quicksand.js")
script(type="text/javascript").
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-36566320-4', 'azurewebsites.net');
  ga('send', 'pageview');